@import url(globals.css);

/* Animation */
.animation {
  height: auto;
  width: 100%;
  overflow: hidden;
  background-image: url(../images/bg_landing_page.jpg);
  background-repeat: repeat-y;
  background-position: 0 0;
  background-size: 100% auto;
  animation-name: backgroundloop;
  animation-iteration-count: infinite;
  animation-duration: 20010s;
  animation-timing-function: linear
}

@keyframes backgroundloop {
  0% {
      background-position: 0 0
  }

  100% {
      background-position: 0 -1002246px
  }
}

/* HEADER */
header {
  height: 500px;
  background-image: url(../images/website-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.header__hero {
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.header__hero-logo {
  max-width: 600px;
}

/* MAIN */
.statistics {
  padding: 80px 50px;
}

h2 {
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 50px;
  text-align: center;
}

.statistics__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 40px;
  height: 100px;
  background-color: hsla(0, 0%, 0%, 0.5);
  padding: 20px;
}

.statistics__item:not(:last-of-type) {
  margin-bottom: 50px;
}

.player__name {
  width: 15%;
}

.hero__name {
  width: 25%;
}

.winner {
  width: 5%;
}

.img-less,
.img-more,
.img-swords {
  width: 50px;
}

.player__name-total {
  width: 40%;
}


/* color: var(--text-color); */

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-image: url(../images/website-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.footer__text {
  margin-top: 100px;
  width: 400px;
}
