@import url(globals.css);
@import url(animation.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);

.larger-text {
    font-size: 20px;
}

.winner-text {
    color: rgb(0, 185, 0);
    font-size: 30px;
}

@media (min-width: 768px) {
    .larger-text {
        font-size: 30px;
    }    
}